/* Reset & base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;

}

/* backround color */
html, body {
    background-color: rgb(221, 221, 221);
    text-decoration: none;
}
/* for small screen */
@media only screen and (max-width: 600px) {
    #Governorates {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

    nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #333333;
    flex-direction: column;
    }

    a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    }

    li a:hover {
    background-color: #555555;
    color: white;
    }

}

body {
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 10px;
}

#logo {
    max-width: 100px;
}

#nav {
    display: flex;
    flex-direction: row;
}

nav a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111111;
}

/* title */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333333;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
}

#header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 1%;
    flex-wrap: wrap;
    align-items: center;
    color: #f1f1f1;
    background-color: #333333;
}

#governorates{
    background-color: #f1f1f1;
    padding: 1%;
    margin: 1%;
    border: #555555;
}

.governorates {
    display: flex;
    flex-direction: column;
    border: #555555;
    justify-content: baseline;
    align-items: baseline;
    margin: 10px;
}

.imgCard {
    width: 100%;
    height: 110px;
    margin: 10px;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    padding: 1%;
    margin: 1%;
    border: #555555;
}

#introduction {
    background-color: #f1f1f1;
    margin: 1%;
    padding: 1%;
    min-width: 50vh;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    background-color: #f1f1f1;
    margin: 1%;
    padding: 1%;
    gap: 1%;
}

#bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: #918f8f;
}

.bottom {
    color: #f1f1f1;
    background-color: #797777;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 30%;
}

.submit {
    display: inline;
    color: rgb(156, 55, 55);
    font-weight: bold;
    background-color: rgb(246, 191, 191);
    text-align: center;
    text-decoration: none;
    padding: 10px;
}