{% extends "planner/base.html" %}
{% load static %}


{% block title %}
Tasks | Planit
{% endblock %}


{% block content %}

<section class="page-intro reveal">

    <div>

        <p class="eyebrow">
            Task archive
        </p>

        <h1>
            Tasks
        </h1>

        <p class="intro-copy">
            Keep everything visible without making everything feel urgent.
        </p>

    </div>


    <div class="decorative-label pastel-sage">

        <span id="activeTaskCount">
            --
        </span>

        <small>
            ACTIVE
        </small>

    </div>

</section>


<section class="filter-panel reveal">

    <label class="search-box">

        <span class="tiny-label">
            SEARCH
        </span>

        <input
            id="taskSearch"
            type="search"
            placeholder="Search your tasks"
        >

    </label>


    <div class="filter-group">

        <button
            class="filter-button is-active"
            data-area="all"
            type="button"
        >
            All
        </button>

        <button
            class="filter-button"
            data-area="academic"
            type="button"
        >
            Academic
        </button>

        <button
            class="filter-button"
            data-area="personal"
            type="button"
        >
            Personal
        </button>

    </div>


    <div class="view-tabs">

        <button
            class="view-tab is-active"
            data-view="all"
            type="button"
        >
            All Tasks
        </button>

        <button
            class="view-tab"
            data-view="week"
            type="button"
        >
            This Week
        </button>

    </div>

</section>


<div
    id="tasksError"
    class="message-panel error-message"
    hidden
></div>


<div
    id="tasksLoading"
    class="loading-panel"
>
    Loading tasks...
</div>


<section
    id="allTasksView"
    class="task-view"
    hidden
>

    <div class="archive-heading">

        <span>
            TASK LIST
        </span>

        <span id="taskListCount">
            00 ITEMS
        </span>

    </div>


    <div
        id="archiveTaskList"
        class="archive-list"
    ></div>

</section>


<section
    id="weekTasksView"
    class="task-view"
    hidden
>

    <div
        id="weekGrid"
        class="week-grid"
    ></div>

</section>

{% endblock %}


{% block page_scripts %}

<script
    src="{% static 'planner/js/tasks.js' %}">
</script>

{% endblock %}